.profile-container {
  display: flex;
  flex-direction: row;
  width: 800px;

  background-color: #afafaf;
}

.profile-nav {
  width: 500px;
  height: 300px;
  border-right: 1px solid #afafaf;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e8e8e8;
  margin: 5px;
}

.nav-link {
  display: block;
  margin: 10px 0;
}

.profile-content {
  flex: 1;
  padding: 10px;
  margin-left: 20px;
}
